*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-image: url(../src/img2.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 100px;
    height: 500px;
    line-height: 150px;
    font-size: 35px;
    text-align: center;
    border: 2px solid rgb(255, 166, 0);
    color: white;
       
}header{
    background-image: url(../src/img2.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 100px;
    height: 500px;
    line-height: 150px;
    font-size: 35px;
    text-align: center;
    border: 2px solid rgb(255, 166, 0);
    color: white;
       
}

body{
    background-color: rgb(250, 250, 216);
}

h2{
    background-color: black;
    color:white;
    text-align: center;
    font-size: xx-large;
    line-height: 60px;
    height: 60px;
}

.logo{
    position: relative;
    top: -130px; left: 100px;
    border: 2px solid black;
    width: 200px;
    height: 200px;
}

figure{
    width: 1098px;
    height: 150px;
}

nav{
    display: inline; 
    position: relative;
    top: -100px; left: 370px;
}

nav a{
    display: inline;
    width: fit-content;
    font-size: large;
    font-style: italic;
    margin-bottom: 100px;
    margin-left: 10px;
    padding: 20px;
    color: black;
    box-shadow: 0px 2px 2px 0px black;
    text-decoration: none;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

nav a:hover{
    box-shadow: 0 8px 8px 0 #faaa42,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}
   

.index{
    display: block;
    font-size: x-large;
    line-height: 50px;
    text-align: center;
    
}

.index-txt{
     color: rgb(39, 35, 35);
}



footer{
    background-color: black;
    color:white;
    text-align: center;
    line-height: 50px;
    height: 50px;
    font-size: xx-small;
    margin-top: 100px;
}
